$transparent: transparent;
$dark: #000;
$light: #fff;
$lightSecondary: #f7f9f9;
$primary: #a3bf62;
$primaryDark: #97b259;
$primaryLight: #aec577;
$primaryMedium: #a3bf62;
$secondary: #bcd18b;
$secondaryDark: #8aa250;
$textColorMain: #748845;
$textColorMainDark: #55652f;
$textColorSecondary: #eaffb9;
$textColorGrey: #555;
